<!DOCTYPE html>
<html>
<head>
	<title>DCC NLP</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

	<header>
		<div class="container">
        <h1 class ="logo">devCodeCamp</h1>
        	<strong><nav>
				<ul class="menu">
					<li><a href="index">Home</a></li>
					<li><a href="quote">Quote</a></li>
				</ul>
			</nav></strong>
		</div>
	</header>

	<div class="jumbo quote">
		<h3>Talent is a pursued interest. That is to say, anything you practice you can do. You can create beautiful things - but you have to see them in your mind first.</h3>
		<h4> - Bob Ross</h4>
	</div>

</body>
</html>
